@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding:0px;
    margin: 0px; 
}

body {
    font-family: "Jost", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0b1524;
    color: white;
    /* background-image: url(bgimage.png); */
}

.backgorund{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}
.content{
    background-color: #112b3c;
    border-radius: 10px;
    width: 80%;
    padding: 2rem;
    max-width: 800px;
    height: 70vh;

}
.Search{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: auto;

}
.Search input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 15px;
    border-radius: 10px;
    
  }
#searchbar{
    padding: 5px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
}
.navbar{
    display: flex;
    padding: 10px;
    align-items: center;
    gap:150px;
}
.navbar h1{
    justify-content: left;
    font-weight: 700;
}
.navbar ul{
    list-style: none; 
    display: flex;
    align-items: center;
    margin-left: auto;
}
ul li{
    margin-left: 15px;
}
ul li a{
    text-decoration: none;
    /* padding-bottom: 0.5px;
    border-bottom-style: solid;
    border-bottom-width: 1px; */
    color: #FFFFFF;
}

ul li a:hover {
    transition-property: color;
    transition-duration:0.5s;
    color: #53c084;
}
#page1{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap:15px;
}
.written{
    max-width: 400px;
}
.written .Main h1{
    font-size: 2.9rem;
    
}

.written .Main p{
    font-size: 27px;
    color: #53c084;
}
.written #description{
    font-size: small;
}
#page1 #image{
    border-radius: 10px;
    width: 155vh;
    height: 50vh;
    background-color: #666666;
}
#fotter{
    position: absolute;
    bottom: 3.5rem;  
    left:62rem;
}
@media screen and (max-width: 700px) {
    .navbar {
        flex-wrap: wrap;
    }
    
    .navbar ul {
        flex-wrap: wrap;
    }

    ul li {
        font-size: 14px;
    }

    #page1 {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .written .Main h1 {
        font-size: 36px;
    }

    .written .Main p {
        font-size: medium;
    }

    #page1 #image {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 400px) {
    .written .Main h1 {
        font-size: 20px;
    }

    body {
        font-size: 10px;
    }
    
    .navbar {
        gap: 10px;
    }

    .navbar ul {
        flex-direction: column;
        align-items: flex-start;
        
    }

    ul li {
        margin-left: 0;
        margin-bottom: 5px;
    }
}